@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.text {
    position: relative;
    width: 778px;
    height: 194px;
    left: 536px;
    top: 318px;

    color: black;
    font-style: normal;
    font-weight: bold;
    font-size: 20.3141px;
    line-height: 24px;
    letter-spacing: -0.02em;



}