@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: 400;
}
.text {
    font-size: 12px;
    width: 75%;
    height: 25%;
    padding: 2%;
}
.title {
    font-size: 18px;
    text-align: left;
    font-weight:700;
}
.button {
    position: relative;
    border-radius: 7px;
    color: white;
    background-color: #ed5555;
    width: 169px;
    height: 38px;
    display: auto;
    padding: 10 px;
}
.image {
    padding-bottom:2%;
    width: 600px;
}
.nav {
    width: 100%;
    height: 65px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-around;
}
.nav-links {
    display: flex;
    position: relative;
    top: 30%;
    justify-content: space-around;
    width: 45%;
}
.logo {
    color: #ED5555;
    font-size: 24px;
    position: relative;
    top: 25%;
    cursor: pointer;
}
li {
    list-style: none;
    cursor: pointer;
}