*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.89),rgba(0, 0, 0, 0.37),rgba(0, 0, 0, 0.247)),url(images/DogFood.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 3%;
    justify-content: space-between;
    align-items:flex-start;
    background:transparent;
}
nav img{
    width: 170px;
}
.nav-links{
    flex: 1;
    text-align: left;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 3px 20px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: linear-gradient(to bottom right, #ed5555,rgb(255, 60, 0));
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;

}
.topright{
    flex: 1;
    text-align: right;
}
.topright ul li{
    list-style: none;
    display: inline-block;
    padding: 3px 20px;
    position: relative;
}
.topright ul li a{
    color: #ed5555;
    text-decoration: none;
    font-size: 16px;
}
.log-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    background: #fff;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
}
.log-btn:hover{
    color: white;
    background: linear-gradient(to bottom right, #ed5555,rgb(255, 60, 0));
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 80px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.crt-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: none;
    padding: 14px 120px;
    font-size: 20px;
    background: linear-gradient(to bottom right, #ed5555,rgb(255, 60, 0));
    position: relative;
    cursor: pointer;
    border-radius: 30px;
}
.crt-btn:hover{
    background: linear-gradient(to bottom right, rgb(255, 0, 0),rgb(238, 0, 0));
}

/*---scroll---*/
.scroll{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.scroll h1{
    font-size: 36px;
    font-weight: 600;
}
.scroll p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.content{
    flex-basis: 31%;
    background: rgb(240, 240, 240);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.content h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.content:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
